.footer{
    bottom: 0;
    height: 50px;
    &__title{
        color: lightgray;
        font-size: 15px;
        font-family: sans-serif;
        margin-top: 50px;
        margin-left: 50px;
    }
}